{
  "extends": ["eslint-config-fuks"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "no-relative-imports/no-relative-imports": "off",
    "react/no-unknown-property": "off",
    "react/jsx-key": "off",
    "react/display-name": "off"
  }
}